<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <div class="row">
        <div class="centered">
            <div class="tiles-container">
                <h2>Get Started</h2>
                <hr />
                <p>Natu iriure hendrerit reprobo pagus et dolore. Melior incassum in ea tamen obruo feugait quidem
                    iaceo ullamcorper et refoveo.
                </p>
                <ng-include src="'views/utility/forms/get-dsp-form.html'"></ng-include>
            </div>
        </div>
    </div>
</div>

