<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <div class="row sm-pad-all">
        <div class="centered">
            <div class="tiles-container lg-pad-top">
                <h2>Welcome to DreamFactory</h2>
                <h1><small>Marketing speak</small></h1>
                <p class="lg-pad-bottom">Nimis velit nulla vicis enim abigo fatua. Esse praemitto causa
                    et minim autem. Premo roto duis capio bene dolore at tum
                    utrum huic feugiat. Nunc probo occuro nimis haero commodo
                    interdico dolor. Lenis eu rusticus velit multo diam. Decet
                    vel delenit tum ideo pecus iaceo et nullus melior.
                </p>

                <div class="well dark">
                    <button type="button" data-ng-click="getStarted()" class="btn btn-default btn-success btn-lg btn-block">
                        Get Started!
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>