<div class="dark-text md-pad-top" data-ng-controller="GetDSPCtrl">
    <form>
        <div class="well">
            <div class="form-group">
                <!-- <label class="control-label" for="dsp-url">{{pageText.form.dspName.label}}:</label> -->
                <input class="form-control input-lg" data-ng-model="dsp.name" type="text" id="dsp-name"
                       placeholder="{{pageText.form.dspName.placeholder}}" required>
            </div>

            <div class="form-group">
                <!--<label class="control-label" for="dsp-url">{{pageText.form.dspURL.label}}:</label>-->
                <input class="form-control input-lg" data-ng-model="dsp.url" type="url" id="dsp-url"
                       placeholder="{{pageText.form.dspURL.placeholder}}" required>
            </div>
        </div>

        <div class="form-group">
            <button type="button" data-ng-click="getDSP(dsp)" class="btn btn-default btn-success btn-lg btn-block">
                {{buttonsText.submit.text}}
            </button>
        </div>
    </form>
</div>

