/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*
@import "partials/carousel.scss";
*/
/* line 4, ../sass/partials/_base.scss */
body {
  background: #1a1a1a;
}

/* line 9, ../sass/partials/_base.scss */
.container {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* line 15, ../sass/partials/_base.scss */
.padded-container {
  padding-left: 20px;
  padding-right: 20px;
}

/* line 23, ../sass/partials/_base.scss */
.fa-8x {
  font-size: 8em;
}

/* line 29, ../sass/partials/_base.scss */
ul.mobile-list {
  padding: 0;
  margin: 0;
}
/* line 34, ../sass/partials/_base.scss */
ul.mobile-list li {
  list-style: none;
  border-bottom: 1px solid #4d4d4d;
}
/* line 39, ../sass/partials/_base.scss */
ul.mobile-list li a {
  text-decoration: none;
}
/* line 46, ../sass/partials/_base.scss */
ul.mobile-list li:first-child {
  border-top: 1px solid #4d4d4d;
}

/* line 53, ../sass/partials/_base.scss */
ul.mobile-dsp-list {
  padding: 0;
  margin: 0;
}
/* line 58, ../sass/partials/_base.scss */
ul.mobile-dsp-list li {
  list-style: none;
  border-bottom: 1px solid #4d4d4d;
}
/* line 63, ../sass/partials/_base.scss */
ul.mobile-dsp-list li a {
  text-decoration: none;
}
/* line 70, ../sass/partials/_base.scss */
ul.mobile-dsp-list li:first-child {
  border-top: 1px solid #4d4d4d;
}

/* line 7, ../sass/partials/_typography.scss */
h1 {
  color: #f2f2f2;
  margin-top: 10px;
}

/* line 7, ../sass/partials/_typography.scss */
h2 {
  color: #f2f2f2;
  margin-top: 10px;
}

/* line 7, ../sass/partials/_typography.scss */
h3 {
  color: #f2f2f2;
  margin-top: 10px;
}

/* line 7, ../sass/partials/_typography.scss */
h4 {
  color: #f2f2f2;
  margin-top: 10px;
}

/* line 7, ../sass/partials/_typography.scss */
h5 {
  color: #f2f2f2;
  margin-top: 10px;
}

/* line 7, ../sass/partials/_typography.scss */
h6 {
  color: #f2f2f2;
  margin-top: 10px;
}

/* line 13, ../sass/partials/_typography.scss */
p {
  color: #f2f2f2;
}

/* line 18, ../sass/partials/_typography.scss */
label {
  display: block;
  color: #f2f2f2;
}

/* line 29, ../sass/partials/_typography.scss */
.dark-text h1 {
  color: #1a1a1a;
}
/* line 29, ../sass/partials/_typography.scss */
.dark-text h2 {
  color: #1a1a1a;
}
/* line 29, ../sass/partials/_typography.scss */
.dark-text h3 {
  color: #1a1a1a;
}
/* line 29, ../sass/partials/_typography.scss */
.dark-text h4 {
  color: #1a1a1a;
}
/* line 29, ../sass/partials/_typography.scss */
.dark-text h5 {
  color: #1a1a1a;
}
/* line 29, ../sass/partials/_typography.scss */
.dark-text h6 {
  color: #1a1a1a;
}
/* line 34, ../sass/partials/_typography.scss */
.dark-text p {
  color: #1a1a1a;
}
/* line 39, ../sass/partials/_typography.scss */
.dark-text label {
  color: #1a1a1a;
  font-weight: 300;
}

/*
  Custom Panel Styling
*/
/* line 5, ../sass/partials/_panel.scss */
.panel {
  margin-bottom: auto;
  border-radius: 0px !important;
}
/* line 8, ../sass/partials/_panel.scss */
.panel h1 {
  color: #1a1a1a;
}
/* line 8, ../sass/partials/_panel.scss */
.panel h2 {
  color: #1a1a1a;
}
/* line 8, ../sass/partials/_panel.scss */
.panel h3 {
  color: #1a1a1a;
}
/* line 8, ../sass/partials/_panel.scss */
.panel h4 {
  color: #1a1a1a;
}
/* line 8, ../sass/partials/_panel.scss */
.panel h5 {
  color: #1a1a1a;
}
/* line 8, ../sass/partials/_panel.scss */
.panel h6 {
  color: #1a1a1a;
}
/* line 14, ../sass/partials/_panel.scss */
.panel p {
  color: #1a1a1a;
}

/* line 23, ../sass/partials/_panel.scss */
.panel-default {
  border: none !important;
}

/* line 27, ../sass/partials/_panel.scss */
.panel-group {
  border-radius: 0px !important;
}

/* line 33, ../sass/partials/_panel.scss */
.panel-heading {
  border: none !important;
  border-radius: 0px !important;
  font-size: 2em;
}

/* line 44, ../sass/partials/_panel.scss */
.panel-title a {
  text-decoration: none;
}

/* line 52, ../sass/partials/_panel.scss */
.panel-collapse {
  border: none !important;
  background: #1a1a1a;
}

/*

*/
/*
  Navbar
*/
/* line 19, ../sass/partials/_app.scss */
.navbar {
  margin-bottom: 0px;
}

/*
  Utility Classes
*/
/* Padding */
/* line 29, ../sass/partials/_app.scss */
.sm-pad-all {
  padding: 10px;
}

/* line 33, ../sass/partials/_app.scss */
.sm-pad-horizontal {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 38, ../sass/partials/_app.scss */
.sm-pad-vertical {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 43, ../sass/partials/_app.scss */
.sm-pad-top {
  padding-top: 10px;
}

/* line 47, ../sass/partials/_app.scss */
.sm-pad-bottom {
  padding-bottom: 10px;
}

/* line 51, ../sass/partials/_app.scss */
.md-pad-all {
  padding: 20px;
}

/* line 55, ../sass/partials/_app.scss */
.md-pad-horizontal {
  padding-left: 20px;
  padding-right: 10px;
}

/* line 60, ../sass/partials/_app.scss */
.md-pad-vertical {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 65, ../sass/partials/_app.scss */
.md-pad-top {
  padding-top: 20px;
}

/* line 69, ../sass/partials/_app.scss */
.md-pad-bottom {
  padding-bottom: 20px;
}

/* line 73, ../sass/partials/_app.scss */
.lg-pad-all {
  padding: 50px;
}

/* line 77, ../sass/partials/_app.scss */
.lg-pad-horizontal {
  padding-left: 50px;
  padding-right: 50px;
}

/* line 82, ../sass/partials/_app.scss */
.lg-pad-vertical {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 87, ../sass/partials/_app.scss */
.lg-pad-top {
  padding-top: 50px;
}

/* line 91, ../sass/partials/_app.scss */
.lg-pad-bottom {
  padding-bottom: 50px;
}
