<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <div class="row sm-pad-all">
        <div class="centered">
            <page-header title="pageText.title" description="pageText.description"></page-header>

            <!-- Add a DreamFactory Services Platform -->
            <div class="well dark">
                <button class="btn btn-default btn-success btn-lg btn-block" data-ng-click="addDSP()">
                    {{pageText.sections.addDSP.button.text}}
                </button>
            </div>

            <!-- Add more options -->
        </div>
    </div>
</div>