$lightcolor: #f2f2f2;
$lightmediumcolor: #c2c2c2;
$lightmediumcoloralt: #a2a2a2;
$mediumcolor: #4d4d4d;
$darkmediumcolor: #2e2e2e;
$darkcolor: #1a1a1a;
$iconhovercolor: #db9200;
$darkshadowcolor: #000000;
